$uiWidth: 750;

@function retRem($elSize){
  @return $elSize / $uiWidth * 10rem;
}

@mixin hide-scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;

  overflow: -moz-scrollbars-none;
}
  